* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

html, body {
  height: 100%;
}

.wrapper {
  width: 100%;
  min-height: 100%;

  background: #2c3e50;

  color: white;

  padding-top: 25px;

  .header {
    h1 {
      text-align: center;
    }
    hr {
      width: 100px;
      margin: 10px auto;
    }
  }
}

.search {
  width: 50%;
  margin: 25px auto;
  .search-input {
    width: 100%;
    padding: 12px 6px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
  }
}
